h1 {
  color: #4E12BD;
  text-align: center;
  font-weight: 300;
}

h2 {
  text-align: center;
}

p {
  font-family: sans-serif;
  font-style: bold;
}

body {
  background-color: #BD9712;
  font-size: 18px;
  font-weight: 600;
  
}
